<p id="notice"><%= notice %></p>

<div class="row x_title">
  <div class="col-md-6"> 
  <h3>Listing Courses <small><%= link_to 'New Course', new_course_path, :class => 'btn btn-success' %>
</small></h3>
    </div>
</div>

<div class="row">

<% @courses.each do |course| %>
<div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile fixed_height_400">
              <div class="x_title">
                <h2><%= link_to course.title, course %></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
              <h4>Duração: <%= course.duration %></h4>
              Preço: <%= course.price %><br>
              <%= image_tag course.picture_url(:thumb) if course.picture? %><br>
              <blockquote><%= course.description %></blockquote>
              <br>
              <div>
              <%= link_to 'Show', course, :class => 'btn btn-primary btn-sm' %>
              <%= link_to 'Edit', edit_course_path(course), :class => 'btn btn-warning btn-sm' %>
              
              </div>
              </div>

            </div>

    </div>
    <% end %>
</div>

  
